.map {
  padding: 0;
  margin: 0;
}
.map-content p{
  font-size:13px;
}
.map h3 {
  padding: 0 0 15px;
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}
.map h3 span,
.map-list {
  padding: 0;
  margin: 0;
}
.map-list {
  display: table;
  width: 100%;
}
.map-list > li {
  padding: 0 10px 10px 0;
  margin: 0;
  display: table;
}
.map-list > li > .map-details {
  padding: 10px;
  margin: 0;
  display: table;
  width: 100%;
  /* border: 1px solid #e9e9e9; */
}
.map-list > li > .map-details > .map-iframe {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: top;
  width: 50%;
  position: relative;
}
.map-list > li > .map-details > .map-content-container {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
.map-list > li > .map-details > .map-content-container > .map-content {
  padding: 0;
  margin: 0;
}
.map-list > li > .map-details > .map-content-container > .map-content > h4 {
  padding: 0 0 8px;
  margin: 0;
  font-size: 20px;
}
.map-list > li > .map-details > .map-content-container > .map-content > p {
  padding: 0 0 8px;
  margin: 0;
  line-height: 24px;
  font-size: 14px;
}
.map-list > li > .map-details > .map-content-container > .map-content > a {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 14px;
}
.map-list > .map-details > .map-content-container > .map-content > a > span {
  padding: 0 8px 0 0;
  margin: 0;
  font-size: 13px;
}
.left > .map-content {
  padding-right: 10px !important;
}
.right > .map-content {
  padding-left: 10px !important;
}
.map-two > li {
  float: left;
  width: 50%;
}
.map-three > li {
  float: left;
  width: 33%;
}
.map-list > li > .map-details > .map-iframe > iframe {
  position: relative;
}
.map-list > li > .map-details > .map-iframe > .map-eye-icon {
  position: absolute;
  font-size: 25px;
  color: #000;
  height: auto;
  z-index: 9999;
  left: 10px;
  padding: 0;
  bottom: 0;
  display: none;
}
.map-list > li > .map-details > .map-iframe:hover .map-eye-icon {
  display: block;
}
.map-one > li {
  padding: 0;
  width: 100%;
}
.map-one > li > .map-details {
  padding: 0;
  border:none;
}
.map-one > li > .map-details > .map-content-container > .map-content>h4{
padding:20px 0px;
}
.map-one > li > .map-details > .map-content-container > .map-content > div {
  display: none;
}
.map-one > li > .map-details > .map-iframe {
  width: 100%;
  height: 350px;
}
.left > .map-content {
  padding-left: 10px !important;
}
@media (min-width: 280px) and (max-width: 767px) {
  .map-three > li,
  .map-two > li {
    width: 100% !important;
  }
  .map-list > li {
    padding: 0 0 10px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .map-three > li,
  .map-two > li {
    width: 50% !important;
  }
}
.map-location-image{
  padding:0px;
  margin:0px;
  width:100%;
  line-height: 0px;
}
.map-location-image img{
  padding:0px;
  margin:0px;
  width:100%;
  line-height: 0px;
}