/* Tab */
.tab-content-space {
	padding: 45px 25px 10px 25px
}

.left .tab-image-img img {
	padding: 30px 35px 0px 0px;
	margin: 0
}

.right .tab-image-img img {
	padding: 10px 0px 0px 35px;
	margin: 0
}
.tab-image-img
{
    overflow: hidden;
}
.tab-image-img img {
    width: 100%;
    transition: 0.8s ease-in-out;
   -webkit-transition: 0.8s ease-in-out;
}
.tab-image-img img:hover {
    -ms-transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important; 
    transform: scale(1.1) !important; 
}

.tab-content p,
.tab-content ul li p {
	font-size: 16px;
	line-height: 24px
}

.tab-content h3,
.tab-content p {
	padding: 0 0 15px;
	margin: 0
}

.tab-content ul {
	padding: 0;
	margin: 0;
	display: table
}

.tab-content ul li {
	padding: 5px 0 8px 22px;
	margin: 0;
	position: relative
}

.tab-content ul li p {
	padding: 0;
	margin: 0
}

.tab-content ul li:before {
	font-family: FontAwesome;
    content: "\f08d";
    font-size: 18px;
    left: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-90deg);
}
.h-tab
{
    display: table;
    width:auto !important;
}
.tabs .indicator
{
    background: transparent !important;
}


.h-tab li{
    padding: 0px 5px !important;
    }
    /* .h-tab li a:active {
        background: radial-gradient(ellipse at center, #fff 0%, #FEFEFE 1%, #d4d4d4 91%, #e0dede 96%) !important;
    } */
.h-tab li a:focus {
    /* background: radial-gradient(ellipse at center, #fff 0%, #FEFEFE 1%, #d4d4d4 91%, #e0dede 96%) !important;
    border-radius: 20px; */
    background: #00000008 !important;
}

/* Animation opacity */
.animate-opacity {
    -moz-animation: opac 900ms ease;
    -o-animation: opac 900ms ease;
    -webkit-animation: opac 900ms ease;
    animation: opac 900ms ease;
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.tab-text-full-width li
{
    padding: 5px 0 8px 22px;
    margin: 0;
    position: relative;
}
.tab-text-full-width li:before {
	font-family: FontAwesome;
    content: "\f08d";
    font-size: 18px;
    left: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-90deg);
}

@media (min-width:280px) and (max-width:767px) {
    .tab-content-space {
        padding: 0px;
            }
            .tab-content-space .tab-content
            {
padding-top: 10px;
            }
            .left .tab-image-img img {
                padding: 20px 0px 0px 0px;
                margin: 0
            }
            
            .right .tab-image-img img {
                padding: 10px 0px 0px 0px;
                margin: 0
            }
}
@media (min-width:768px) and (max-width:1199px) {
    .tab-content-space {
        padding: 15px 25px 10px 25px
    }
}

#tab-tabs li .active {
	color: #fff!important;
	position:relative;
    background:none !important;
    padding: 0px 15px;
}
#tab-tabs li .active:before {
color: #000 !important;
position: absolute;
content: "/";
font-family:FontAwesome;
font-size:40px;

left: 0px;

}
#tab-tabs li .active:after {
  
color: #000 !important;
position: absolute;
content: "/";
font-family:FontAwesome;
font-size:40px;
right: 0px;
top: 0px;

}
#tab-tabs li:last-child .active:after
{
   display: none !important;
} 
@media (min-width:280px) and (max-width:399px) {
   #tab-tabs{
    overflow-x: auto;
    overflow-y: hidden;
   } 
}